* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: gray;
  height: 200px;
  text-align: center;
  padding: 1% 20%;
}

.headBig {
  background-color: white;
  height: 100px;
  padding: 3% 15%;
}

.headSmall {
  background-color: tomato;
  height: 35px;
  margin: 0 5%;
}
.headRed {
  background-color: red;
  height: 35px;
  width: 50%;
  float: left;
}
.headGreen {
  background-color: green;
  height: 35px;
  width: 50%;
  float: left;
}
footer {
  background-color: darkred;
  height: 300px;
  text-align: center;
}
