@import './font.css';
@import './header.css';
@import './main.css';
@import './secondPartOfMain.css';
* {
  box-sizing: border-box;
}
body {
  margin: 0px auto;
  font-family: Fira Sans;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
