@import './font.css';
@import './header.css';
@import './main.css';
@import './secondPartOfMain.css';
@import './specProjects.css';
@import './videosGray.css';
@import './podcast.css';
@import './famouse.css';
@import './dayjest.css';
@import './heals.css';
@import './tabloid.css';
@import './life.css';
@import './botMainLine.css';
@import './footer.css';
* {
  box-sizing: border-box;
}
body {
  margin: 0px auto;
  font-family: Fira Sans;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
